<!-- Nav Item - Dashboard -->
<li class="nav-item active">
	<a class="nav-link" href="{{ path('student_dashboard') }}">
		<i class="fas fa-fw fa-tachometer-alt"></i>
		<span>Tableau de bord</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">


	<!-- Heading -->
	<div class="sidebar-heading">
		Projets
	</div>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="{{ path('student_submissions') }}">
			<i class="fas fa-fw fa-file-upload"></i>
			<span>Remises</span>
		</a>
	</li>


	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="{{ path('student_simplified_results') }}">
			<i class="fas fa-fw fa-poll"></i>
			<span>Résultats</span>
		</a>
	</li>
	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="{{ path('student_global_results') }}">
			<i class="fas fa-fw fa-chart-pie"></i>
			<span>Résultats globaux</span>
		</a>
	</li>



	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		Vue d'ensemble
	</div>
	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed">
			<i class="fas fa-fw fa-id-card"></i>
			<span>Trombinoscope</span>
		</a>
	</li>
	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed">
			<i class="fas fa-fw fa-image"></i>
			<span>Ma gallerie</span>
		</a>
	</li>
	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed">
			<i class="fas fa-fw fa-images"></i>
			<span>Gallerie publique</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">
