{% extends 'base.html.twig' %}

{% block sidebar %}
	{{ include("student/_sidebar.html.twig") }}
{% endblock %}
{% block topbar %}
	{{ include("student/_topbar.html.twig") }}
{% endblock %}

{% block page_title %}Mon profil
{% endblock %}

{% block body %}

		<div class="col-12 col-md-6 col-xl-3 mb-2">
			{{form(form)}}
		</div>

{% endblock %}
{% block page_scripts %}
{% endblock %}
